.hide {
  display: none;
}

.node__button {
  height: auto;
  text-decoration: none;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.main-tree div[role="group"] > .mat-tree-node {
  padding-left: 40px;
}
