<section class="product" [ngClass]="{'product--vertical': vertical}">
  <!-- Decidi solo mostrar la primera imagen y no implementar un "swiper" ya que todos los productos tienen solo una imagen -->
  <img class="product__image" [ngClass]="{'product__image--vertical': vertical}"
    [src]="'https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_'+product?.imagenes?.[0]?.nombre+'-med.jpg'"
    [alt]="product?.nombre">
  <div class="product__info">
    <h4 class="product__name">{{ product?.nombre }}</h4>
    <p class="product__subcategory">{{ product?.subcategoria?.nombre ?? '-' }}</p>
    <div class="product__subsection">
      <h5 class="product__price">{{ product?.precio_final | currency : 'ARS' : 'symbol' }}</h5>
      <button mat-mini-fab color="accent">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </div>
  </div>
</section>