@import "src/styles/mixins/responsive.mixins.scss";

.main-container {
  padding: 0 10px;
}

@include min-width(md) {
  .main-container {
    max-width: 823px;
    padding: 0 17px;
  }
}

@include min-width(lg) {
  .main-container {
    max-width: 953px;
  }
}

@include min-width(xl) {
  .main-container {
    max-width: 1300px;
  }
}
