@import "src/styles/mixins/responsive.mixins.scss";

.toolbar {
  display: block;
  // Making sure the toolbar is on top of the sidenav
  z-index: 2;

  .brand-name {
    color: #fff;
    text-decoration: none;
  }
}

.main-nav {
  height: 56px;
  justify-content: space-between;
}

.secondary-nav {
  position: relative;
  justify-content: center;
  height: 65px;
  padding: 8px 16px !important;

  .menu-btn {
    position: absolute;
    left: 16px;
  }
}

.search-input {
  // Remove the wrapper of the error/hint messages
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

.auth-menu__actions,
.user-menu__actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 8px;
}

.auth-menu__divider {
  margin-bottom: 8px !important;
}

.auth-menu__button {
  height: 36px !important;
}

.sidenav-container {
  // Makes height of the sidenav container to be 100% of the viewport excluding the toolbar and the secondary nav
  // To make sure the backdrop covers the whole screen
  min-height: calc(100% - 56px - 65px);
}

.side-nav {
  width: min(85%, 250px);
}

.shopping-cart-btn {
  .mat-icon .mat-badge-content {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 600;
  }
}

.search-form {
  display: contents;
}

@include min-width(sm) {
  .main-nav {
    height: 70px;
  }

  .sidenav-container {
    // Here the secondary nav is not present
    min-height: calc(100% - 70px);
  }

  .side-nav {
    width: min(85%, 300px);
  }

  .search-input {
    width: 40%;
  }
}
