<mat-toolbar class="toolbar" color="primary">
  <mat-toolbar-row class="main-nav mat-elevation-z4">
    <a class="brand-name" [routerLink]="['/']">
      <h3>Angular Store</h3>
    </a>

    <ng-container *ngTemplateOutlet="!(bpService.isXsmall$ | async)?.matches ? SearchInput : null"></ng-container>

    <div>
      <button mat-icon-button [mat-menu-trigger-for]="userMenu" aria-label="Boton de usuario">
        <mat-icon>account_circle</mat-icon>
      </button>

      <button mat-icon-button aria-label="Boton de carrito de compras">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="(bpService.isXsmall$ | async)?.matches" class="secondary-nav">
    <ng-container *ngTemplateOutlet="SearchInput"></ng-container>

    <button class="menu-btn" mat-icon-button aria-label="Boton de abrir menu lateral" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="side-nav" [opened]="!(bpService.isXsmall$ | async)?.matches"
    [mode]="(bpService.isXsmall$ | async)?.matches ? 'over' : 'side'" #sidenav [fixedInViewport]="false">
    <app-sidenav-content [categories]="(productsService.categories$ | async)"></app-sidenav-content>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #SearchInput>
  <mat-form-field class="search-input">
    <input matInput type="text" placeholder="Busca un producto">
    <button matSuffix mat-icon-button aria-label="Search">
      <mat-icon color="primary">search</mat-icon>
    </button>
  </mat-form-field>
</ng-template>

<mat-menu class="auth-menu" #userMenu="matMenu">
  <div class="auth-menu__actions">
    <button class="auth-menu__button" (click)="onLogin()" aria-label="Iniciar sesión" mat-raised-button color="primary">
      Log In
    </button>
    <button class="auth-menu__button" (click)="onSignup()" aria-label="Registrarse" mat-flat-button color="accent">
      Sign Up
    </button>
  </div>
</mat-menu>