<!-- TODO: Loading state -->
<ng-container *ngIf="!loading">
  <ng-container *ngIf="products.length > 0; else NoProducts">
    <div class="product-list" [ngClass]="{'product-list--vertical': vertical}">
      <app-product-card class="product" [ngClass]="{'product--vertical': vertical}"
        *ngFor="let product of products; index as i" [priorityImage]="i <= 6" [product]="product" [vertical]="vertical">
      </app-product-card>
    </div>
  </ng-container>
</ng-container>

<ng-template #NoProducts>
  <div>
    <h2 class="no-products__title">No se encontraron productos</h2>
    <p>
      Lamentablemento no contamos con stock de productos en esta categoría.
      Intenta con otra o vuelve más tarde.
    </p>
  </div>
</ng-template>