<!-- TODO: Loading state -->
<ng-container *ngIf="!loading">
  <ng-container *ngIf="products.length > 0; else NoProducts">
    <div class="product-list" [ngClass]="{'product-list--vertical': vertical}">
      <app-product-card class="product" [ngClass]="{'product--vertical': vertical}" *ngFor="let product of products"
        [product]="product" [vertical]="vertical">
      </app-product-card>
    </div>
  </ng-container>
</ng-container>

<ng-template #NoProducts>
  <div>
    <h2 class="no-products__title">No se encontraron productos</h2>
    <p>
      No encontramos productos que coincidan con los filtros seleccionados.
      Prueba cambiarlos o intenta más tarde.
    </p>
  </div>
</ng-template>