.product-list {
  display: flex;
  flex-direction: column;
  gap: 17px;

  &.product-list--vertical {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}

.product {
  &.product--vertical {
    display: contents;
  }
}

.no-products__title {
  text-align: center;
  margin-top: 0;
}
