<main class="home container">
  <section class="products-description">
    <app-subcategory-presentation *ngIf="(selectedSubcategoryId$ | async) as subCategoryId"
      [selectedSubcategoryId]="subCategoryId" [subcategories]="(subCategories$ | async)">
    </app-subcategory-presentation>

    <div class="products-description__options">
      <app-product-filters></app-product-filters>
    </div>
  </section>

  <article>
    <app-products-list [products]="(products$ | async) ?? []" [vertical]="!(bpService.isXsmall$ | async)?.matches">
    </app-products-list>
  </article>
</main>